@page
@model IndexModel
@{
    ViewData["Title"] = "Website quản lý cửa hàng";
}

<div>
    <table>
        <tr>
            <th>Quản lý hàng hóa</th>
            <th>Quản lý hóa đơn</th>
            <th>Thống kê hàng hóa</th>
        </tr>
        <tr>
            <th><a href="MH_SanPham/MH_danhsach_sanpham">Danh sách sản phẩm</a></th>
            <th> <a href="MH_HoaDonNhap/MH_danhsach_hoadonnhap">Danh sách hóa đơn nhập</a></th>
            <th> <a href="MH_ThongKe/MH_thongke_hangton">Thống kê hàng tồn</a></th>

        </tr>
        <tr>

            <th><a href="MH_LoaiHang/MH_danhsach_loaihang">Danh sách loại hàng</a></th>
            <th> <a href="MH_HoaDonBan/MH_danhsach_hoadonban">Quản lý hóa đơn bán</a></th>
            <th> <a href="MH_ThongKe/MH_thongke_hanghoahethansudung">Thống kê hàng hết hạn</a></th>
        </tr>


    </table>

  
</div>

